input[type="submit"], button {
    cursor: pointer;
}

body {
    font: 16px Roboto, sans-serif;
    font-weight: 400;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    
   }

.page-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    
    }

