* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    opacity: 0.9;
    margin-bottom: 17px;
}

body {
    font-family: "Raleway";
    
}
section {
    padding-top: 130px;
    padding-bottom: 120px;
 }

.grid {
    display: grid;
    gap: 15px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    align-items: center;
}

.upper {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    opacity: 0.62;
    font-weight: 400;
    font-family: "Merriweather";
    
}

.box {
    margin-top: 120px;
}


.aboutUs {
    background-color: #f8f9fa;
}

.services,
.theySays {
    background-color: #f9fbfb;
}

.footer {
    background-color: #262b2e;
}


.textbox {
    width: 474px;
   
}

.about-box {
justify-content: center;
}


.textbox h3,
.about__textbox-text,
.about__text-bold {
     text-align: left;
}

.about__textbox-text {
   
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    opacity: 0.74;
    margin-top: 27px;
}

.about__text-bold {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Raleway";
    opacity: 0.75;
    margin-top: 38px;
    margin-bottom: 27px;
}


.works-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cut {
    position: relative;
    overflow: hidden;
    width: 371px;
    height: 360px;
}

.image-item {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 371px;
    height: 360px;
    object-fit: cover;
}

.services-box {
    grid-template-columns: 0.85fr 0.29fr 0.8fr;
    grid-template-rows: repeat(3, 1fr);
}



.services-item__big {  
    width: 653px;
    height: 372px;
}

.services-item__small {
    width: 475px;
    height: 372px;
}

.services-item__bg1 {
    background-color: #6df6eb;
    opacity: 0.97;
}

.services-item__bg2 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/img-9.png);
}

.services-item__bg3 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/griego3_1x.png);
}


.services-item__bg4 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/careers-00.png);
}


.services-item__bg5 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/griego4_1x.png);
}


.services-item__bg6 {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/blog-3.png);
}

.services-item {
    background-position: center;
    background-size: cover;
    padding-top: 131px;
    padding-left: 70px;
    padding-right: 80px;
    position: relative;
}

.white {
    color: #ffffff;
    opacity: 0.9;
}

.services-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
    font-weight: 700;
    font-family: "Merriweather";
    margin-bottom: 27px;
}

.services-text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Raleway";
}

.know-btn {
    background: none;
    border: none;
    height: 13px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 85px;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 100px;
    
}

.know-btn:focus,
.know-btn:hover {
    color: #6df6eb;
    opacity: 0.7;
}

.know-btn-close {
    width: 17px;
    height: 17px;
    opacity: 0.4;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    position: absolute;
    bottom: 56px;
}

.services-box .services-item:first-child
 {
    padding-top: 64px;
    padding-right: 116px; 
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.services-box .services-item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


.services-box .services-item:nth-child(3) {
    grid-column: 1 / 3; 
    grid-row: 2 / 3;
}

.services-box .services-item:nth-child(4) {
    grid-column: 3 / 4;   
    grid-row: 2 / 3;
}

.services-box .services-item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
   
.services-box .services-item:last-child {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.team-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 441px);
}
    
.team-block {
    position: relative;
    overflow: hidden;
    width: 371px;
    height: 441px;
}

.team-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover; 
    width: 371px;
    height: 441px;
}

.theySays-content {
    justify-content: center;
    align-items: center;
    gap: 81px;
    
}

.says-textbox {
    width: 667px;
    height: 363px;
    border-radius: 3px;
    background-color: #eff0f2;
    justify-content: center;
    text-align: center;
    
}

.says-textbox__name {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Merriweather";
    text-align: center;
}

.says-textbox__name span {
    opacity: 0.7;
    font-weight: 500;
    font-style: italic;
    font-size: 17px;

}
.says-textbox__text {
    width: 499px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #000000;
    opacity: 0.7;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 32px;
}

.logo-box {
    text-align: center;
    padding-top: 106px;
    padding-bottom: 106px;
}

.logo-box__img {
    width: 1133px;
    height: 172px;
}