* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    opacity: 0.9;
    margin-bottom: 17px;
}

body {
    font-family: "Raleway";
    
}
section {
    padding-top: 130px;
    padding-bottom: 120px;
 }
.grid {
    display: grid;
    gap: 15px;
}

.flex {
    display: flex;
}

.upper {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    opacity: 0.62;
    font-weight: 400;
    font-family: "Merriweather";
    margin-bottom: 120px;
}

.header {
    background-color: #eff0f2;
    padding-top: 63px;
    padding-left: 149px;
    padding-right: 149px;
    grid-template-rows: repeat(6, 1fr) ;
    padding-bottom: 196px;

}

    
.logo {
    width: 113px;
    height: 46px;
    background-color: #12deb5;
    border: 5.54px solid #170f1c;
    text-align: center;
    grid-column: 1 / 3;
}

.shopno {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    filter: drop-shadow(0 0 1px rgba(21,21,22,0.75));
}

h1 {
    margin-top: 206px;
    margin-bottom: 148px;
    font-size: 45px;
    letter-spacing: 3px;
    color: #505050;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    filter: drop-shadow(3.517px 8.285px 5px rgba(0,0,0,0.24));
   
}

.btn-wrap {
    margin-left: auto; 
    margin-right: auto;
    width: 232px;
    height: 53px;
    
}
.btn {
    
    text-align: center;
    width: 232px;
    height: 53px;
    border-radius: 2px;
    background-color: none;
    border: 2px solid #000000;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    opacity: 0.5;
    transition: background-color 210ms linear, opacity 210ms linear;
    cursor: pointer;
    
}

.btn:hover,
.btn:focus {
     background-color: #71f6eb;
     opacity: 0.75;
 }

.aboutUs {
    background-color: #f8f9fa;
}

.services,
.theySays {
    background-color: #f9fbfb;
}

.footer {
    background-color: #262b2e;
}

.works.flex {
    flex-direction: column;
    align-items: center;
}
.images-box.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cut {
    position: relative;
    overflow: hidden;
    width: 371px;
    height: 360px;
}

.image-item {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 371px;
    height: 360px;
    object-fit:cover;
}


.slider {
    overflow: hidden;
    width: 400px;
    position: relative;
    background-color: none;
}


.slider-container {
    width: 500%;
    display: flex;
    transition: transform 310ms cubic-bezier(0.19, 0.11, 0.51, 1.34);
    margin-bottom: 46px;
}

.slider-slide {
    position: relative;
    width: 100%;
}


.slider-image {
    width: 319px;
    height: 411px;
    border-radius: 3px;
    box-shadow: 2.344px 5.523px 12px rgba(20,20,21,0.17);
    object-fit: cover;
    object-position: 50% 50%;
}

.slider-nav {
    --gap: 5px;
    --size: 10px;
    position: absolute; 
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc((var(--size) * 5) + (var(--gap) * 4));
}

.slider-nav__item {
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border-radius: 3px;
    background: #d0d0d0;
}

.slider [type="radio"] {
    display: none;
}

#slide-1:checked ~ .slider-nav .slider-nav__item:nth-child(1),
#slide-2:checked ~ .slider-nav .slider-nav__item:nth-child(2),
#slide-3:checked ~ .slider-nav .slider-nav__item:nth-child(3),
#slide-4:checked ~ .slider-nav .slider-nav__item:nth-child(4),
#slide-5:checked ~ .slider-nav .slider-nav__item:nth-child(5) {
    background-color: #71f6eb;
}

#slide-2:checked ~ .slider-container {
    transform: translateX(-20%);
}

#slide-3:checked ~ .slider-container {
    transform: translateX(-40%);
}

#slide-4:checked ~ .slider-container {
    transform: translateX(-60%);
}

#slide-5:checked ~ .slider-container {
    transform: translateX(-80%);
}